.main{
    color: $text-primary;
}
section{
    padding-top: 3.75rem;
    padding-bottom: 5rem;
    @include pad{
        padding-top: 2.5rem;
        padding-bottom: 3.5rem;
    }
    @include iPhone{
        padding-top: 2rem;
        padding-bottom: 2.5rem;
    }
}
.banner{
    // background: url(../../images/banner.png) center;
    background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 840px;
    @include iPhone{
        background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/banner-sm.png");
        height: 394px;
    }
    .container{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}
.slogan{
    font-size: 4rem;
    font-weight: bold;
    text-align: right;
    span{
        display: block;
        font-size: 2.25rem;
        font-weight: normal;
    }
    @include pad{
        font-size: 3rem;
        span{
            font-size: 1.25rem;
        }
    }
    @include iPhone{
        font-size: 2rem;
        span{
            font-size: 1rem;
        }
    }
}
.title{
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    @include pad{
        font-size: 2rem;
    }
    @include iPhone{
        font-size: 1.25rem;
    }
}
.service{
    background: $bg-secondary;
    @include pad{
        padding-bottom: 1.5rem;
    }
    @include iPhone{
        padding-bottom: .5rem;
    }
    .title{
        margin-bottom: 3rem;
        @include pad{
            margin-bottom: 2.5rem;
        }
        @include iPhone{
            margin-bottom: 1.25rem;
        }
    }
    .service-list{
        display: flex;
        justify-content: space-between;
        @include pad{
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
    &-item{
        width: 255px;
        text-align: center;
        @include pad{
            margin-bottom: 2rem;
        }
        i{
            font-size: 6.25rem;
            margin-bottom: 1rem;
        }
        h3{
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }
        p{
            color: $text-dark;
            text-align: left;
        }
    }
}
.classic {
    padding-bottom: 3rem;
    @include iPhone{
        padding-bottom: 2rem;
    }
    .title{
        margin-bottom: 2.5em;
        @include pad{
            margin-bottom: 2rem;
        }
        @include iPhone{
            margin-bottom: 1.25rem;
        }
    }
}
.classic-item{
    display: flex;
    margin-bottom: 2rem;
    position: relative;
    @include pad{
        margin-bottom: .5rem;
    }
    .item-picture{
        width: 57%;
        margin-right: 2rem;
        @include iPhone{
            width: 100%;
            margin: 0;
        }
    }
    .item-name{
        display: flex;
        align-items: center;
        font-size: 3rem;
        color: $text-secondary;
        @include pad{
            font-size: 1.75rem;
        }
        @include iPhone{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        i{
            font-size: 2.75rem;
            margin-right: .625rem;
            @include pad{
                font-size: 2.25rem;
            }
        }
        h3{
            font-weight: bold;
            font-style: italic;
        }
    }
    &:nth-child(2){
        flex-direction: row-reverse;
        img{
            margin-right: 0;
            margin-left: 2rem;
        }
        @include pad{
            flex-direction: row;
            img{
                margin-left: 0;
                margin-right: 2rem;
            }
        }
        @include iPhone {
            img{
                margin-right: 0;
            }
        }
    }
}
.coBranding{
    // background: url(../../images/bg.png) center;
    background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    height: 705px;
    @include pad{
        height: 452px;
        background-size: cover;
    }
    @include iPhone{
        height: 719px;
    }
    .title{
        color: $text-light;
        margin-bottom: 2.5rem;
        @include pad{
            margin-bottom: 2rem;
        }
        @include iPhone{
            margin-bottom: 1.25rem;
        }
    }
    .coBranding-list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .item{
        width: 48.6%;
        position: relative;
        background-color: #fff;
        @include iPhone{
            width: 100%;
            object-fit: contain;
            margin-bottom: 1rem;
        }
        &-picture{
            opacity: .5;
        }
        &-title{
            color: $text-secondary;
            font-size: 4.5rem;
            width: 100%;
            text-align: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            @include pad{
                font-size: 2rem;
            }
        }
    }
}
.customer{
    @include pad{
        padding-bottom: 1.5rem;
    }
    .title{
        margin-bottom: 2.5rem;
        @include pad{
            margin-bottom: 2rem;
        }
    }
}
.customer-list{
    display: flex;
    justify-content: space-between;
    @include pad{
        flex-wrap: wrap;
    }
}
.customer-item{
    width: 23%;
    border-radius: 4px;
    border: 1px solid #DEE2E6;
    box-shadow: 0px 2px 6px #00000029;
    @include pad{
        width: 47.8%;
        margin-bottom: 2rem;
    }
    @include iPhone{
        width: 100%;
        margin-bottom: 1rem;
    }
    .photo{
        width: 100%;
        height: 256px;
    }
    &-infos{
        height: 204px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .date{
            font-size: .875rem;
            color: $text-date;
        }
        @include pad{
            padding: 1rem 1.5rem;
        }
    }
    &-content{
        color: $text-customer-content;
        h3{
            font-size: .875rem;
            margin-bottom: 0.5rem;
        }
    }
}
.contactUs{
    background: $bg-secondary;
    color: $text-dark;
    .container{
        max-width: 760px;
        @include pad{
            max-width: 480px;
        }
    }
    .title{
        margin-bottom: 1.5rem;
    }
    .description{
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        @include pad{
            margin-bottom: 1rem;
            font-size: 1rem;
        }
        @include iPhone{
            margin-bottom: .5rem;
        }
    }
    .input-list{
        @include pad{
            font-size: 0.875em;
        }
    }
    .input-item{
        margin-bottom: 1rem;
        @include pad{
            margin-bottom: .5rem;
        }
        label{
            display: block;
        }
        input{
            width: 100%;
            height: 50px;
            padding: 1rem;
            @include pad{
                height: 36px;
                padding: .5rem .75rem;
            }
        }
    }
    .textarea-item{
        margin-bottom: 1rem;
        @include pad{
            margin-bottom: .5rem;
        }
        label{
            display: block;
        }
        textarea{
            width: 100%;
            height: 136px;
            padding: .75rem 1rem;
            @include pad{
                height: 100px;
                padding: .5rem .75rem;
            }
        }
    }
    .checkbox-item{
        display: flex;
        align-items: center;
        margin-bottom: 2.5rem;
        @include pad{
            margin-bottom: 1.25rem;
            align-items: flex-start
        }
        input{
            @include size(24px, 24px);
            @include pad{
                @include size(18px, 18px);
            }
        }
    }
    .submit-btn{
        width: 47%;
        background: $bg-primary;
        color: $text-light;
        text-align: center;
        padding: 1rem 0;
        cursor: pointer;
        &:hover{
            background: $btn-hover-color
        }
    }
}