//color
$text-primary: #650300;
$text-secondary: #AA0601; 
$text-light: #fff;
$text-dark: #000;
$text-l-dark: #212529;
$text-date: #707070;

$bg-primary: #AA0601; 
$bg-secondary: #FBF2F2;

$border-light: #fff;
$list-active: blue;
$btn-active: #650300;